body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
}

table {
    max-width: 800px; 
    max-height: 500px; 
    margin: auto; 
}

table th, table td {
    color: #000000; /* Ensure table text is always black */
}

.dataTables_wrapper {
    width: 100%; 
    overflow: auto;
}

/* Light mode styles */
:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1E1E1E;
        --text-color: #FFFFFF;
    }

    /* Add this block to change the color of table headers in dark mode */
    table th {
        color: #FFFFFF; /* Change the color to white */
    }
}
