body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Responsive typography */
h1 {
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

canvas {
    max-width: 100%;
    height: auto; /* Let the canvas resize automatically */
}

/* Style tables for mobile compatibility */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

table th, table td {
    color: #000000;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1rem;
}

table th {
    background-color: var(--text-color);
    color: var(--background-color);
}

.dataTables_wrapper {
    width: 100%;
    overflow-x: auto;
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    table, th, td {
        font-size: 0.9rem;
        padding: 8px;
    }
}

/* Light mode styles */
:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1E1E1E;
        --text-color: #FFFFFF;
    }

    table th {
        color: #FFFFFF;
        background-color: #333333;
    }
}
